body {

        margin: 0;
        height: 100%;
        font-family:'Arial';

        background-color: rgb(231, 160, 160);
        color: rgb(106, 61, 211);
      }

  @media only screen and (max-width: 1200px) {
    body {
      background-color: lightskyblue;
      color: blue;
  }





  
  
  
  
    
    

    

       


    
    
        
      